@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}

html, body{
	width:100%;
	height:100%;
}

.wrapper{
	width:800px;
	height:200px;
	margin:0px auto;
}
.reloj{
	width:550px;
	height:100px;
	background-color:#3CC;
	border:#000 solid 50px;
	border-radius:15px;
	margin:90px auto;
}
figure{
	width:100px;
	height:100px;
	float:left;
}
.puntos{
	float:left;
	width:20px;
	height:100px;
	color:#d3aa2c;
	font-size:100px;
	line-height:85px;
}
img{
	width:100px;
	height:100px;
}

figure:nth-of-type(5), figure:last-of-type{
	width:50px;
}
figure:nth-of-type(5)>img, figure:last-of-type>img{
	width:50px;
	height:50px;
	margin-top:25px;
}
figure:nth-of-type(5){
	margin-left:10px;
}